@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-light.woff') format('woff'),       url('../fonts/raleway-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-bold.woff') format('woff'),       url('../fonts/raleway-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


html {
    box-sizing: border-box;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 12px;
}


header {
    background-color: black;
    color: white;
    height: 36px;
}


.container {
    margin: 0 auto;
    width: 800px;
    border: 1px solid red;
}


.uppercase {
    text-transform: uppercase;      
}

.header-element {
    line-height: 35px;
}


.logo-header {
    float: left;
    text-transform: uppercase; 
}


.bold-text {
    font-weight: bold;
}


.color-text {
    color: #24ba9f;
}


.navigation_button {
    float: right;
    padding-left: 20px;
    font-size: 14px;
    text-transform: uppercase;  
    border: 1px solid green;
}


.section1 {
    background-image:  linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,208,216,1) 100%);
    height: 400px;
}


.clearfix {
    clear: both;
}


.section1-container {
    position: relative;
    padding-top: 50px;
}


.slider-arrow {
    color: #24ba9f;
    position: absolute;
    font-size: 60px;
}


.arrow1 {
    left: 0;
    top: 105px;
}


.arrow2 {
    right: 0;
    top: 105px;
}


.black-chair {
    display: inline-block;
    margin-left: -38px;
}


.text-box {
    display: inline-block;
    width: 35%;
    position: absolute;
    bottom: 93px;
    right: 105px;
}


.text-box p {
    text-align: center;
}


.text-box h1 {
    text-align: center;
}


h1 {
    font-size: 30px;
    text-transform: uppercase;
}


.button {
    width: 190px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #24ba9f;
    border-radius: 10px; 
    margin-left: 47px;
    margin-top: 25px;
    text-transform: uppercase;
}


.button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}


.section2 {
    height: 276px;
    padding-bottom: 30px;
    position: relative;
}


.box1, .box2 {
    width: 250px;
    height: 175px;
    border: 1px solid green;
    display: inline-block;
    position: absolute;
    top: 21px;
    border: 1px solid #d1d0d8;
}


.box1 {
    background-image: url(../images/box1_img.jpg);
    background-size: cover;
}


.box2 {
    left: 255px;
    margin-left: 17px;
    background-image: url(../images/box2_img.jpg);
    background-size: cover;
}


.box3 {
    width: 250px;
    height: 206px;
    border: 1px solid #d1d0d8;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 21px; 
    font-size: 11px;
    padding-left: 0px;
}


.opacity-bar {
    height: 50px;
    width: 250px;
    font-weight: bold;
    position: absolute;
    bottom: 14px;
    background-color: rgba(255, 255, 255, .5);
    padding-left: 11px;
    font-size: 13px;
}


.short-color-bar {
    height: 6px;
    width: 114px;
    background-color: #28c9ab;
}


.section3 {
    background-color: #F1F1F1; 
}


h2 {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase; 
    margin-top: 26px;
}


.long-color-bar { 
    height: 6px;
    width: 240px;
    background-color: #21b89c;
    margin-bottom: 60px;
    margin-top: -10px;
}


.plan-box {
    width: 250px;
    height: 369px;
    border: 2px solid #d1d0d8;
    position: relative;
    text-align: center;
    background-color: #F9F9F9;
    z-index: 1;
    float: left;
    margin-right: 19px;
    margin-bottom: 48px;
}


.last-plan-box {
    margin-right: 0;
}


div.plan-box:nth-child(2) {
    background-color: #27c7ab;
}


.ring {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #d1d0d8;
    left: 101px;
    top: -29px;
    background-color: #FFF;
    z-index: 2;
}


.dot {
    height: 19px;
    width: 19px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 11px;
    background-color: #C2C2C2;
    z-index: 3;  
}


.plan-name {
    text-transform: uppercase;
    color: #27c7ab;
    font-size: 18px;
    margin-top: 30px;
}


.price-circle { 
    width: 87px;
    height: 87px;
    border: 2px solid #d1d0d8;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: #FFF;
    color: #BEBEBE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    font-weight: bold;
}


.price-circle span {
    font-size: 34px;
    /*font-weight: bold; */
}


.plan-properties {
    height: 30px;
    width: 250px;
    text-align: center;
    background-color: #F1F1F1;
    padding-top: 1px;
    line-height: 30px;
    font-size: 16px;
}


.dark-grey-properties {
    background-color: #e4e4e4;
}


.white-properties {
    background-color: white;
}


.button-dot-box {
    width: 85px;
    height: 24px;
    background-color: #27c7ab;
    border-radius: 6px;
    color: #FFF;
    text-align: center;
    position: absolute;
    bottom: 16px;
    left: 84px;  
    line-height: 24px;
}


input {
    display: block;
    border: 1px solid #27c7ab;
    height: 44px;
    width: 468px;
    margin-bottom: 19px;
    font-size: 25px;
    padding-left: 12px;
    font-weight: normal;
}


.placeholder {
    color: #A1A1A1;
}


textarea {
    resize: none;
    display: block;
    border: 1px solid #27c7ab;
}


.form-left {
    float: left;
}


.form-right {
    float: right;
}
/* .red-armchair {
    
}  */


input[type="submit"] {
    background-color: #23ba9d;
    border-radius: 8px;
    height: 52px;
    width: 278px;
    color: #FFF;
    text-transform: uppercase;
}


.copyrights {
    float: left;
    margin-top: 19px;
    color: #A1A1A1;
}


.logo-footer {
    float: right;
    margin-top: 16px;
    text-transform: uppercase;
    margin-left: 43px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #A1A1A1;
}


.social-buttons {
    float: right;
    margin-bottom: 27px;
}


































