@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular.woff') format('woff'),       url('../fonts/raleway-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-medium.woff') format('woff'),       url('../fonts/raleway-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-light.woff') format('woff'),       url('../fonts/raleway-light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-semibold.woff') format('woff'),       url('../fonts/raleway-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-bold.woff') format('woff'),       url('../fonts/raleway-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


html {
    box-sizing: border-box;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 12px;
}


header {
    background-color: black;
    color: white;
    height: 36px;
}


.container {
    margin: 0 auto;
    width: 800px;
    border: 1px solid red;
}


.uppercase {
    text-transform: uppercase;      
}

.header-element {
    line-height: 35px;
}


.logo-header {
    float: left;
    text-transform: uppercase; 
}


.bold-text {
    font-weight: bold;
}


.color-text {
    color: #24ba9f;
}


.navigation_button {
    float: right;
    padding-left: 20px;
    font-size: 14px;
    text-transform: uppercase;  
    border: 1px solid green;
}


.section1 {
    background-image:  linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,208,216,1) 100%);
    height: 400px;
}


.clearfix {
    clear: both;
}


.section1-container {
    position: relative;
    padding-top: 50px;
}


.slider-arrow {
    color: #24ba9f;
    position: absolute;
    font-size: 60px;
}


.arrow1 {
    left: 0;
    top: 105px;
}


.arrow2 {
    right: 0;
    top: 105px;
}


.black-chair {
    display: inline-block;
    margin-left: -38px;
}


.text-box {
    display: inline-block;
    width: 40%;
    position: absolute;
    bottom: 96px;
    right: 105px;
}


.text-box p {
    text-align: center;
}


.text-box h1 {
    text-align: center;
}


h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}


.text-box p {
    font-size: 11px;
    line-height: 150%;
    color: #555555;
    font-weight: 600;
    word-spacing: 1px;
    
}


.button {
    width: 197px;
    height: 40px;
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    background-color: #24ba9f;
    border-radius: 10px; 
    margin-left: 64px;
    margin-top: 25px;
    text-transform: uppercase;
}


.button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}



/*          SECTION 2          */



.section2 {
    height: 267px;
    position: relative;
}


.box1, .box2 {
    width: 249px;
    height: 175px;
    border: 1px solid green;
    display: inline-block;
    position: absolute;
    top: 21px;
    border: 1px solid #d1d0d8;
    background-size: cover;
    background-repeat: no-repeat;
}


.box1 {
    background-image: url(../images/box1_img.jpg);
}


.box2 {
    left: 256px;
    margin-left: 14px;
    background-image: url(../images/box2_img.jpg);
    background-size: cover;
}


.box3 {
    width: 258px;
    height: 196px;
    border: 1px solid #d1d0d8;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 21px; 
}


.opacity-bar {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 14px;
    background-color: rgba(255, 255, 255, .5);
    padding-left: 12px;
}


.title-box {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 2px;
}


.short-color-bar {
    height: 6px;
    width: 114px;
    background-color: #28c9ab;  
}


.box3 .opacity-bar {
    top: 14px;
}


.box3 article {
    color: #7F7F7F;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 11px;
    margin-top: 60px;
    line-height: 150%;
    font-weight: 500;
}



/*        SECTION 3           */



.section3 {
    background-color: #F1F1F1; 
}


h2 {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase; 
    margin-top: 26px;
    color: #555555;
}


.long-color-bar { 
    height: 6px;
    width: 240px;
    background-color: #21b89c;
    margin-bottom: 60px;
    margin-top: -10px;
}


.plan-box {
    width: 250px;
    height: 369px;
    border: 2px solid #d1d0d8;
    position: relative;
    text-align: center;
    background-color: #F9F9F9;
    z-index: 1;
    float: left;
    margin-right: 19px;
    margin-bottom: 48px;
}


.aquamarin-box {
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
}


.last-plan-box {
    margin-right: 0;
}


.ring {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #d1d0d8;
    left: 101px;
    top: -29px;
    background-color: #FFF;
    z-index: 2;
}


.aquamarin-box .ring {
    border: 2px solid #27c7ab;
    background-color: #27c7ab;
}


.dot {
    height: 19px;
    width: 19px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 11px;
    background-color: #C2C2C2;
    z-index: 3;  
}


.aquamarin-box .dot {
    background-color: #FFF;
}


.plan-name {
    text-transform: uppercase;
    color: #27c7ab;
    font-size: 18px;
    margin-top: 30px;
    font-weight: 600;
}


.aquamarin-box .plan-name {
    color: #FFF;
}

.price-circle { 
    width: 87px;
    height: 87px;
    border: 2px solid #d1d0d8;
    border-radius: 50%;
    margin: 23px auto;
    background-color: #FFF;
    color: #BEBEBE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    font-weight: bold;
}

.aquamarin-box .price-circle {
    color: #27c7ab;
    border: 2px solid #27c7ab;
}


.price-circle span {
    font-size: 34px;
    /*font-weight: bold; */
}


.white-bar {
    height: 2px;
    width: 100%;
    background-color: #FFF;
}

.plan-properties {
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: #F1F1F1;
    padding-top: 1px;
    line-height: 30px;
    font-size: 16px;
}


.dark-grey-plan-properties {
    background-color: #e4e4e4;
}


.white-plan-properties {
    background-color: white;
}


.button-plan-box {
    width: 93px;
    height: 27px;
    background-color: #27c7ab;
    border-radius: 6px;
    color: #FFF;
    text-align: center;
    position: absolute;
    bottom: 16px;
    left: 75px;  
    line-height: 27px;
    font-weight: 500;
}


.aquamarin-box .button-plan-box {
    background-color: #FFF;
    color: #27c7ab;
}



/*         FORM  SECTION          */


.form-left {
 
    display: inline-block;
    width: 60%;
    vertical-align: bottom;
}


.form-right {
    vertical-align: bottom;
    position: relative;
    display: inline-block;
    border: 1px solid red;
    width: 37%;
}


input {
    display: block;
    border: 1px solid #27c7ab;
    height: 44px;
    width: 448px;
    margin-bottom: 19px;
    font-size: 25px;
    padding-left: 12px;
    font-weight: lighter;
}


.placeholder {
    color: #A1A1A1;
}


textarea {
    resize: none;
    display: block;
    border: 1px solid #27c7ab;
}


.red-armchair {
    display: block;
    padding-top: 0;
}  


input[type="submit"] {
    background-color: #23ba9d;
    border-radius: 8px;
    height: 52px;
    width: 278px;
    color: #FFF;
    text-transform: uppercase;
    margin-right: 2px;
    position: absolute;
    bottom: 0;
}



/*           FOOTER            */



.copyrights {
    float: left;
    margin-top: 19px;
    color: #A1A1A1;
}


.logo-footer {
    float: right;
    margin-top: 16px;
    text-transform: uppercase;
    margin-left: 43px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #A1A1A1;
}


.social-buttons {
    float: right;
    margin-bottom: 27px;
}


































